.app {
  min-height: 98vh;
}

.app-content {
  --offset: calc(var(--footer-height) + var(--logo-height));
  min-height: calc(98vh - var(--offset));
  display: flex;
  justify-content: center;
  align-items: center;
}
